# Telegram Configuration
TELEGRAM_TOKEN=8263520731:AAGMctdNPUpkfjn3ClcviZao8DBGauHvTt8
TELEGRAM_CHAT_ID=920468935

# Trading Configuration
RISK_PERCENT=0.01
REWARD_RATIO=3
MAGIC_NUMBER=987654
EQUITY_PROTECTION=0.80
